<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bluejack20_2.chantuy">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chantuy.SplashScreen"
        >
        <activity android:name=".views.update_profile.UpdateProfileActivity"></activity>
        <activity android:name=".views.notification.NotificationActivity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".views.change_password.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" />
        <activity
            android:name=".views.register.RegisterActivity"
            android:label="@string/title_activity_register" /> <!-- <activity -->
        <!-- android:name=".views.notification_page.NotificationActivity" -->
        <!-- android:label="@string/title_activity_notification"/> -->
        <activity android:name=".views.feedback.FeedbackActivity" />
        <activity android:name=".submitData.SubmitDataActivity" />
        <activity android:name=".InsertFeedbackActivity" />
        <activity android:name=".views.settings.SettingsActivity" />
        <activity android:name=".views.update_curhat.UpdateCurhatActivity" />
        <activity
            android:name=".views.login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.insert_curhat.InsertCurhatActivity" />
        <activity android:name=".views.curhat_detail.CurhatDetailActivity" />
        <activity android:name=".MainActivity" />

        <receiver android:name=".services.NotificationService" />
    </application>

</manifest>